<header>
  <h1>Unmarked</h1>
  <p>Keep your bookmarks where they belong: in your remoteStorage.</p>
</header>

<nav>
  <ul>
    <li><a {{action goToBookmarks}}>Bookmarks</a></li>
    <li><a {{action goToImport}}>Import</a></li>
  </ul>
</nav>

{{outlet}}
