<div id="delicious">
  <h2>Import from Delicious export file</h2>
  <input id="import-delicious" type="file" name="import-delicious" onchange="importDeliciousFile();" />
  <div class="status"></div>
</div>
